.recommend-box{
    overflow: hidden;
    .top-des{
        position: relative;
        height: 180px;
        padding: 25px 10px;
        .bg-img{
            position: absolute;
            width: 100%;
            height: 100px;
            background-image: url(//music.163.com/api/img/blur/109951163783699568?param=170y170);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            -webkit-filter: blur(20px);
            filter: blur(20px);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            overflow: hidden;
        }
        .des-box{
            display: flex;
            .left{
                width: 126px;
                height: 126px;
                position: relative;
                img{
                    width:100%;
                }
                span.icon{
                    position: absolute;
                    z-index: 3;
                    top: 10px;
                    left: 0;
                    padding: 0 8px;
                    height: 17px;
                    color: #fff;
                    font-size: 9px;
                    text-align: center;
                    line-height: 17px;
                    background-color: rgba(217,48,48,.8);
                    border-top-right-radius: 17px;
                    border-bottom-right-radius: 17px;
                }
                .lsthd_num{
                    position: absolute;
                    right: 5px;
                    top: 0;
                    z-index: 3;
                    padding-left: 15px;
                    color: #fff;
                    font-size: 12px;
                    background-position: 0;
                    background-repeat: no-repeat;
                    background-size: 11px 10px;
                    text-shadow: 1px 0 0 rgba(0,0,0,.15);
                }
                .u-earp {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==);
                }
            }
            .right{
                position: relative;
                z-index: 10;
                padding: 10px ;
                font-size: 14px;
                .name{
                    color:#fff;
                }
                .info{
                    padding-top: 30px;
                    color:#fff;
                    font-size: 12px;
                    opacity: 0.8;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 10px;
                        
                    }
                }
            }
        }
        
    }
    .tags{
        background-color: #fff;  
        padding: 10px;
        font-size: 14px;
        .tag{
            span{
                padding: 3px 8px;
                border: 1px solid rgba(0,0,0,.1);
                border-radius: 15px;
                // border-color: 
                margin-left: 10px;
            }
        }
        .introduction{
            padding: 10px 0 0;
            overflow:hidden; 
            text-overflow:ellipsis;
            display:-webkit-box; 
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2; 
        }
       
    }
    .song-list{
        padding: 10px 0 10px 10px;
        font-size: 14px;
        .title{

        }
        .song{
            ul{
                padding: 10px 0 10px 10px;
                li{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    padding-top: 5px;
                    .info{
                        padding:0 10px;
                        flex: 1;
                        overflow: hidden;
                        .name{
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            -webkit-box-orient:vertical;
                            -webkit-line-clamp:1; 
                        }
                        .author{
                            font-size: 12px;
                            overflow:hidden; 
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            -webkit-box-orient:vertical;
                            -webkit-line-clamp:1; 
                        }
                    }
                    .play-button{
                        width: 40px;
                        padding-top: 11px;
                        .u-hmsprt{
                            display: block;
                            width: 22px;
                            height: 22px;
                            background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat;
                            // background-size: 100% 100%;
                            background-position: -24px 0;
                            background-size: 166px 97px;
                        }
                    }
                }
            }
        }
    }
}