.show{
    width:100%;
}

// ul{
//     display: flex;
//     width:500%;
// }
li{
    list-style: none;
    width: 100%;
    margin: 0;
    height: 140px;
    // background-color: rgb(200,200,80);
    text-align: center;
    // line-height: 30px;
    float: left;
    font-weight: bold;
    // font-size: 120px;
    .carouse-img{
        width:100%;
        display: block;
        height: 100%;
    }
  }
  .show>span{
    position: absolute;
    width: 30px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
  }
  .show:hover>span{
    opacity: 1;
  }
  .show>span:first-child{
    left: 10px;
    background-image: url("images/back.png");
  }
  .show>span:last-child{
    right: 10px;
    background-image: url("images/more.png");
  }